.container {
    display: flex;
    justify-content: center;
  }
  
  
  span.editable {
    border: 1px solid #e3f2fd;
    display: inline-block;
    width: 100%
  }
  
  
  
  @media all and (min-width: 768px) {
    tr {
      td {
        vertical-align: middle !important;
      }
  
      span {
        &:not([class]) {
          padding: 1rem 1rem;
        }
      }
    }
  }
  
  .table {
    margin: auto;
    width: 50% !important;
  }
  